# **Importing Libs**

In [512]:
import pandas as pd
import numpy as np

In [513]:
df = pd.read_csv('dataset1.csv')

In [514]:
df.shape

(1195, 6)

In [515]:
df.head()

,Gender,Interest,Skills,Any_Add_Cert_Courses,Cert_Courses_Desc,Course
0,Female,Cloud computing,Python;SQL;Java,Yes,"Linux,Git",B.Sc
1,Male,Technology,"Critical Thinking, Analytic Thinking, SQL, Pro...",Yes,Microsoft certification,B.E
2,Female,Understand human behaviour,People management;Communication skills,Yes,Resilience psychology,BA
3,Female,Sales/Marketing;Trading;Understand human behav...,Accounting Skills;Critical Thinking,No,No,MBA
4,Female,Technology,\r\nPLC Allen Bradley;PLC Ladder Logic;LabVIEW...,Yes,Extreme Productivity (Blinkist Summary),B.Tech

In [516]:
X_Values = df.iloc[:,:-1].values
Y_Values = df.iloc[:,-1:].values

In [517]:
X_Values

array([['Female', 'Cloud computing', 'Python;SQL;Java', 'Yes',
        'Linux,Git'],
       ['Male', 'Technology',
        'Critical Thinking, Analytic Thinking, SQL, Programming, Work under Pressure, Logical Skills, Problem Solving skills',
        'Yes', 'Microsoft certification\xa0'],
       ['Female', 'Understand human behaviour',
        'People management;Communication skills', 'Yes',
        'Resilience psychology'],
       ...,
       ['Male', 'Technology;Content Writing',
        'Programming Language skills;Critical Thinking;Analytical Skills;Editing;Data Visualization skills( Power Bi/ Tableau );SQL',
        'Yes', 'Sql, Python,tableau,data science'],
       ['Male', 'Financial Analysis, Technology',
        'AI, Java, SQL, C++, R, Linux', 'No', 'No'],
       ['Male', 'Animation', '2D/3D Animation', 'Yes', '3D Animation']],
      dtype=object)

In [518]:
Y_Values

array([['B.Sc'],
       ['B.E'],
       ['BA'],
       ...,
       ['B.Tech'],
       ['BE'],
       ['B.Sc']], dtype=object)

In [519]:
from sklearn.model_selection import train_test_split

# Spliting train and test values
X_train, X_test, Y_train, Y_test = train_test_split(X_Values,Y_Values,test_size=1/3,random_state=0)